<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>Other Products</ion-card-header>
    <ion-card-content>
     
    </ion-card-content>

    <img class="img" src="..\assets\img\Front1.jpg" />

    <ion-card-header>More</ion-card-header>
    <ion-card-content>
      
    </ion-card-content>
    <img class="img" src="..\assets\img\Front2.png"/>
  </ion-card>
</ion-content>