<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>Vision</ion-card-header>
    <ion-card-content>
      The Alliance of Christian Churches in Namibia is envisioned to be a group of Christian Leaders in Namibia
      that convenes to deliberate and address issues of National importance as the prophetic voice of God, to the
      Church and the Nation at large.
    </ion-card-content>

    <img class="img" src="..\assets\img\image2.jpg" />

    <ion-card-header>Mission</ion-card-header>
    <ion-card-content>
      To give guidance and council to the Church and Nation at large on issues related to the spiritual wellbeing,
      healing, restoration, welfare and development of the Nation of Namibia. To engage relevant stakeholders such
      as the Government of the Republic of Namibia, Politicians, and Private and Public Institutions on issues that
      affect the social and moral fabric of the nation.
    </ion-card-content>
    <img class="img" src="..\assets\img\image3.jpg"/>
  </ion-card>
</ion-content>