<ion-header>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Digital Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="font:bolder;">Imac</ion-card-header>
    <img class="img" src="..\assets\img\Imac.jpg"/>
    <ion-card-content>
      Specifications
      <br><br>
      Ram: 16 GB
      Storage: 1 TB
      <br><br>
      Operating System: Windows 11
     <ion-Bold> Price: N$ 3000</ion-Bold>
    </ion-card-content>
    
  </ion-card>

  <ion-card>
    <ion-card-header style="font:bolder;">Hp Gaming Laptop</ion-card-header>
    <img class="img" src="..\assets\img\HP_Gaming.jpg" />
    <ion-card-content>
      Description:
      
      <br><br>
      Specifications
      <br><br>
      Ram: 16 GB
      Storage: 2 TB
      <br><br>
      Operating System: Windows 11

      
     <ion-Bold> Price: N$ 2000</ion-Bold>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header style="font:bolder;">Lenovo</ion-card-header>
    <img class="img" src="..\assets\img\Lenovo.jpg"/>
    <ion-card-content>
      Specifications
      <br><br>
      Ram: 8 GB
      Storage: 2 TB
      <br><br>
      Operating System: Windows 10
     <ion-Bold> Price: N$ 1500</ion-Bold>
    </ion-card-content>
    
  </ion-card>
</ion-content>


