<!-- home.page.html -->
<ion-header [translucent]="true">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <ion-toolbar color="warning">
    <ion-title>
      Digital Products
    </ion-title>
  </ion-toolbar>
</ion-header>
<!---Body Content-->
<ion-content [fullscreen]="true" class="ion-padding">


<!---Haader--->
  <h5>Welcome To The Digital World</h5>

  <ion-grid>
    <ion-row>
      <ion-col size="12">

        <!----Slider-->
        <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
          (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
          <ion-slide *ngFor="let s of sliderOne.slidesItems">
            <img src="..\assets\img\Lenovo.jpg">
            <span class="slide-text">Lenovo {{s.id}}</span>
          </ion-slide>
           
          <ion-slide *ngFor="let s of sliderOne.slidesItems">
            <img src="..\assets\img\Imac.jpg">
            <span class="slide-text">Imac {{s.id}}</span>
          </ion-slide>
          
          <ion-slide *ngFor="let s of sliderOne.slidesItems">
            <img src="..\assets\img\HP_Gaming.jpg">
            <span class="slide-text">HP {{s.id}}</span>
          </ion-slide>

          <ion-slide *ngFor="let s of sliderOne.slidesItems">
            <img src="..\assets\img\Front1.jpg">
            <span class="slide-text">HP {{s.id}}</span>
          </ion-slide>

          <ion-slide *ngFor="let s of sliderOne.slidesItems">
            <img src="..\assets\img\Front2.png">
            <span class="slide-text">HP {{s.id}}</span>
          </ion-slide>

        </ion-slides>
        <!---End of slides-->
      </ion-col>

    </ion-row>
  </ion-grid>


  

</ion-content>